button {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
button {
  background-color: var(--button-bg-primary);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
button:hover, button.hovered {
  background-color: var(--button-bg-hover-primary);
}
button:focus-visible {
  outline: var(--outline-focus);
  outline-offset: 1px;
}
button.bg-primary {
  background-color: var(--button-bg-primary);
}
button:hover.bg-primary {
  background-color: var(--button-bg-hover-primary);
}
button.bg-secondary {
  background-color: var(--button-bg-secondary);
}
button:hover.bg-secondary {
  background-color: var(--button-bg-hover-secondary);
}
button.bg-tertiary {
  background-color: var(--button-bg-tertiary);
}
button:hover.bg-tertiary {
  background-color: var(--button-bg-hover-tertiary);
}
button.bg-quaternary {
  background-color: var(--button-bg-quaternary);
}
button:hover.bg-quaternary {
  background-color: var(--button-bg-hover-quaternary);
}
button.bg-fifth {
  background-color: var(--button-bg-fifth);
}
button:hover.bg-fifth {
  background-color: var(--button-bg-hover-fifth);
}
button:disabled {
  cursor: not-allowed;
}