/* Regular */
@font-face {
  font-family: "OpenDyslexic";
  src: url("/fonts/OpenDyslexic-Regular.woff2") format("woff2"), url("/fonts/OpenDyslexic-Regular.woff") format("woff"), url("/fonts/OpenDyslexic-Regular.otf") format("opentype"), url("/fonts/OpenDyslexic-Regular.eot"); /* IE */
  font-weight: normal;
  font-style: normal;
}
/* Bold */
@font-face {
  font-family: "OpenDyslexic";
  src: url("/fonts/OpenDyslexic-Bold.woff2") format("woff2"), url("/fonts/OpenDyslexic-Bold.woff") format("woff"), url("/fonts/OpenDyslexic-Bold.otf") format("opentype"), url("/fonts/OpenDyslexic-Bold.eot");
  font-weight: bold;
  font-style: normal;
}
/* Italic */
@font-face {
  font-family: "OpenDyslexic";
  src: url("/fonts/OpenDyslexic-Italic.woff2") format("woff2"), url("/fonts/OpenDyslexic-Italic.woff") format("woff"), url("/fonts/OpenDyslexic-Italic.otf") format("opentype"), url("/fonts/OpenDyslexic-Italic.eot");
  font-weight: normal;
  font-style: italic;
}
/* Bold Italic */
@font-face {
  font-family: "OpenDyslexic";
  src: url("/fonts/OpenDyslexic-Bold-Italic.woff2") format("woff2"), url("/fonts/OpenDyslexic-Bold-Italic.woff") format("woff"), url("/fonts/OpenDyslexic-Bold-Italic.otf") format("opentype"), url("/fonts/OpenDyslexic-Bold-Italic.eot");
  font-weight: bold;
  font-style: italic;
}
:root {
  --text-color: #ebebeb;
  --background-color: #030303;
  --bg-layer-1: #161616;
  --bg-layer-2: #1d1d1d;
  --bg-layer-3: #232323;
  --bg-layer-4: #292929;
  --bg-gradient-1: linear-gradient(142deg, rgb(0, 140, 195) 0%, rgb(47, 187, 105) 50%, rgb(243, 227, 85) 100%);
  --bg-gradient-2: linear-gradient(90deg, rgb(155, 42, 123) 0%, rgb(199, 87, 133) 50%, rgb(237, 83, 221) 100%);
  --bg-gradient-3: linear-gradient(90deg, rgb(123, 155, 42) 0%, rgb(199, 133, 87) 50%, rgb(221, 237, 83) 100%);
  --focus-outline-color: #00FFBF;
  --accent-color: #009FFF;
  --input-bg-color: #101010;
  --input-bg-color-hover: #1a1a1a;
  --input-border: 1px solid #3a3a3a;
  --input-border-hover: 1px solid #9b9b9b;
  --outline-focus: 2px solid var(--focus-outline-color);
  --outline-hover: 1px solid var(--focus-outline-color);
  --button-bg-primary: #004C98;
  --button-bg-secondary: #464E55;
  --button-bg-tertiary: #005614;
  --button-bg-quaternary: #991825;
  --button-bg-fifth: #68471E;
  --button-bg-hover-primary: #113F70;
  --button-bg-hover-secondary: #30363B;
  --button-bg-hover-tertiary: #0E491B;
  --button-bg-hover-quaternary: #7e121d;
  --button-bg-hover-fifth: #4B3418;
  --form-bg-color: #353535;
  --form-border: 1px solid #606060;
  --form-input-wrapper-bg-color: #444444;
  --hr-color: #0056ab;
  --link-color: #64b5f6;
  --link-hover-color: #90caf9;
  --link-visited-color: #9575cd;
  --link-visited-hover-color: #b39ddb;
  --quiz-text-color: #cdcdcd;
  --quiz-correct-color: #00c853;
  --quiz-incorrect-color: #d50000;
  --task-text-color: #f3f3f3;
  --task-bold-color: #3bff65;
  --task-italic-color: #81d4fa;
  --task-italic-bold-color: #ffab40;
  --task-bold-italic-color: #ff6e40;
  --hint-info-background-color: #263238;
  --hint-info-border-color: #2196f3;
  --hint-text-color: #ffffff;
  --hint-success-background-color: rgba(27, 94, 32, 0.2196078431);
  --hint-success-border-color: #4caf50;
  --hint-warning-background-color: rgba(245, 193, 23, 0.2196078431);
  --hint-warning-border-color: #ffc400;
  --hint-danger-background-color: rgba(183, 28, 28, 0.2196078431);
  --hint-danger-border-color: #f44336;
  --font-family-sans: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  --font-family-mono: Courier New, Courier, monospace;
  --font-family-gill-sans: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
  --font-family-georgia: Georgia, Times New Roman, Times, serif;
  --font-family-arial: Arial, Helvetica, sans-serif;
  --font-family-verdana: Verdana, Geneva, Tahoma, sans-serif;
  --font-family-comic-sans: Comic Sans MS, cursive, sans-serif;
  --font-family-dyslexia: 'OpenDyslexic', Verdana, Geneva, Tahoma, Arial, sans-serif;
}

button {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
button {
  background-color: var(--button-bg-primary);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
button:hover, button.hovered {
  background-color: var(--button-bg-hover-primary);
}
button:focus-visible {
  outline: var(--outline-focus);
  outline-offset: 1px;
}
button.bg-primary {
  background-color: var(--button-bg-primary);
}
button:hover.bg-primary {
  background-color: var(--button-bg-hover-primary);
}
button.bg-secondary {
  background-color: var(--button-bg-secondary);
}
button:hover.bg-secondary {
  background-color: var(--button-bg-hover-secondary);
}
button.bg-tertiary {
  background-color: var(--button-bg-tertiary);
}
button:hover.bg-tertiary {
  background-color: var(--button-bg-hover-tertiary);
}
button.bg-quaternary {
  background-color: var(--button-bg-quaternary);
}
button:hover.bg-quaternary {
  background-color: var(--button-bg-hover-quaternary);
}
button.bg-fifth {
  background-color: var(--button-bg-fifth);
}
button:hover.bg-fifth {
  background-color: var(--button-bg-hover-fifth);
}
button:disabled {
  cursor: not-allowed;
  filter: opacity(0.6);
}