.layout-row {
  flex-direction: row;
}

.layout-row-center {
  flex-direction: row;
  justify-content: center;
}

.layout-row-full {
  flex-direction: row;
  justify-content: space-between;
}

.layout-column {
  flex-direction: column;
  align-items: flex-start;
}

.layout-column-center {
  flex-direction: column;
  align-items: center;
}

.layout-column-full {
  flex-direction: column;
  justify-content: space-between;
}