:root {
  --text-color: #ebebeb;
  --background-color: #030303;
  --bg-layer-1: #161616;
  --bg-layer-2: #1d1d1d;
  --bg-layer-3: #232323;
  --bg-layer-4: #292929;
  --bg-gradient-1: linear-gradient(142deg, rgb(0, 140, 195) 0%, rgb(47, 187, 105) 50%, rgb(243, 227, 85) 100%);
  --bg-gradient-2: linear-gradient(90deg, rgb(155, 42, 123) 0%, rgb(199, 87, 133) 50%, rgb(237, 83, 221) 100%);
  --bg-gradient-3: linear-gradient(90deg, rgb(123, 155, 42) 0%, rgb(199, 133, 87) 50%, rgb(221, 237, 83) 100%);
  --focus-outline-color: #00FFBF;
  --accent-color: #009FFF;
  --input-bg-color: #101010;
  --input-bg-color-hover: #1a1a1a;
  --input-border: 1px solid #3a3a3a;
  --input-border-hover: 1px solid #9b9b9b;
  --outline-focus: 2px solid var(--focus-outline-color);
  --outline-hover: 1px solid var(--focus-outline-color);
  --button-bg-primary: #004C98;
  --button-bg-secondary: #464E55;
  --button-bg-tertiary: #005614;
  --button-bg-quaternary: #991825;
  --button-bg-fifth: #68471E;
  --button-bg-hover-primary: #113F70;
  --button-bg-hover-secondary: #30363B;
  --button-bg-hover-tertiary: #0E491B;
  --button-bg-hover-quaternary: #7e121d;
  --button-bg-hover-fifth: #4B3418;
  --form-bg-color: #353535;
  --form-border: 1px solid #606060;
  --form-input-wrapper-bg-color: #444444;
  --hr-color: #0056ab;
  --link-color: #64b5f6;
  --link-hover-color: #90caf9;
  --link-visited-color: #9575cd;
  --link-visited-hover-color: #b39ddb;
  --quiz-text-color: #cdcdcd;
  --quiz-correct-color: #00c853;
  --quiz-incorrect-color: #d50000;
  --task-text-color: #f3f3f3;
  --task-bold-color: #3bff65;
  --task-italic-color: #81d4fa;
  --task-italic-bold-color: #ffab40;
  --task-bold-italic-color: #ff6e40;
  --hint-info-background-color: #263238;
  --hint-info-border-color: #2196f3;
  --hint-text-color: #ffffff;
  --hint-success-background-color: rgba(27, 94, 32, 0.2196078431);
  --hint-success-border-color: #4caf50;
  --hint-warning-background-color: rgba(245, 193, 23, 0.2196078431);
  --hint-warning-border-color: #ffc400;
  --hint-danger-background-color: rgba(183, 28, 28, 0.2196078431);
  --hint-danger-border-color: #f44336;
  --font-family-sans: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  --font-family-mono: Courier New, Courier, monospace;
  --font-family-gill-sans: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
  --font-family-georgia: Georgia, Times New Roman, Times, serif;
  --font-family-arial: Arial, Helvetica, sans-serif;
  --font-family-verdana: Verdana, Geneva, Tahoma, sans-serif;
  --font-family-comic-sans: Comic Sans MS, cursive, sans-serif;
}

#welcome-section {
  min-height: 600px;
  width: 100%;
  background-color: var(--bg-layer-2);
  display: flex;
}
#welcome-section #welcome-message {
  width: 50%;
  color: var(--text-color);
  background: var(--bg-gradient-1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
#welcome-section #welcome-message h2 {
  font-size: 2.5rem;
  text-align: right;
  padding-right: 40px;
}
#welcome-section #welcome-message p {
  font-size: 1.1rem;
  text-align: right;
  padding-right: 45px;
}
#welcome-section #welcome-message img {
  width: 100%;
  display: block;
  position: relative;
  bottom: 0;
  left: 0;
}
#welcome-section #login-section {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
#welcome-section #login-section h2 {
  width: 100%;
  padding: 5px;
  text-align: center;
  border: 2px solid var(--bg-layer-4);
  border-bottom: 2px solid var(--hr-color);
  border-right-width: 2px;
  border-radius: 5px 5px 0 0;
  margin-bottom: 10px;
}
#welcome-section #login-section p {
  font-style: italic;
  font-family: var(--font-family-gill-sans);
  filter: brightness(0.8);
}
#welcome-section #login-section form {
  margin-top: 50px;
  max-width: 400px;
  width: 100%;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
#welcome-section #login-section label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
#welcome-section #login-section input {
  width: 100%;
  padding: 10px;
  margin: auto;
  border: 1px solid var(--bg-layer-4);
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
@media (max-width: 768px) {
  #welcome-section {
    flex-direction: column;
  }
  #welcome-section #welcome-message,
  #welcome-section #login-section {
    width: 100%;
  }
  #welcome-section #welcome-message h2,
  #welcome-section #welcome-message p {
    text-align: center;
    padding: 0 20px;
  }
  #welcome-section #welcome-message img {
    display: none;
  }
  #welcome-section #login-section form {
    width: 100%;
    max-width: 400px;
  }
}

.wrap-span-text {
  display: inline-block;
  white-space: nowrap;
}

.wrapper-300 {
  max-width: 300px;
}

#welcome-page #courses-content-container {
  background-color: var(--bg-layer-1);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
}
#welcome-page #courses-content-container h2 {
  text-align: center;
  font-size: 1.8rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--button-bg-primary);
}
#welcome-page #courses-content-container ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
#welcome-page #courses-content-container li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--bg-layer-4);
  border-radius: 5px;
  background-color: var(--bg-layer-2);
  cursor: pointer;
  display: block;
  width: 160px;
  height: 270px;
  text-align: center;
}
#welcome-page #courses-content-container li:hover {
  background-color: var(--bg-layer-3);
}
#welcome-page #courses-content-container li img {
  width: 135px;
  max-height: 143px;
  height: auto;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
#welcome-page #courses-content-container li:hover img {
  transform: scale(1.05);
  transition: transform 0.2s;
}
#welcome-page #courses-content-container li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
#welcome-page #courses-content-container #footer-course {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#welcome-page #courses-content-container #footer-course hr {
  width: 100%;
  border: 1px solid var(--bg-layer-4);
  margin: 0;
}
#welcome-page #courses-content-container #footer-course span {
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 0.6rem;
  color: var(--button-bg-secondary);
}