:root {
  --text-color: #ebebeb;
  --background-color: #030303;
  --bg-layer-1: #161616;
  --bg-layer-2: #1d1d1d;
  --bg-layer-3: #232323;
  --bg-layer-4: #292929;
  --bg-gradient-1: linear-gradient(142deg, rgb(0, 140, 195) 0%, rgb(47, 187, 105) 50%, rgb(243, 227, 85) 100%);
  --bg-gradient-2: linear-gradient(90deg, rgb(155, 42, 123) 0%, rgb(199, 87, 133) 50%, rgb(237, 83, 221) 100%);
  --bg-gradient-3: linear-gradient(90deg, rgb(123, 155, 42) 0%, rgb(199, 133, 87) 50%, rgb(221, 237, 83) 100%);
  --focus-outline-color: #00FFBF;
  --accent-color: #009FFF;
  --input-bg-color: #101010;
  --input-bg-color-hover: #1a1a1a;
  --input-border: 1px solid #3a3a3a;
  --input-border-hover: 1px solid #9b9b9b;
  --outline-focus: 2px solid var(--focus-outline-color);
  --outline-hover: 1px solid var(--focus-outline-color);
  --button-bg-primary: #004C98;
  --button-bg-secondary: #464E55;
  --button-bg-tertiary: #005614;
  --button-bg-quaternary: #991825;
  --button-bg-fifth: #68471E;
  --button-bg-hover-primary: #113F70;
  --button-bg-hover-secondary: #30363B;
  --button-bg-hover-tertiary: #0E491B;
  --button-bg-hover-quaternary: #7e121d;
  --button-bg-hover-fifth: #4B3418;
  --form-bg-color: #353535;
  --form-border: 1px solid #606060;
  --form-input-wrapper-bg-color: #444444;
  --hr-color: #0056ab;
  --link-color: #64b5f6;
  --link-hover-color: #90caf9;
  --link-visited-color: #9575cd;
  --link-visited-hover-color: #b39ddb;
  --quiz-text-color: #cdcdcd;
  --quiz-correct-color: #00c853;
  --quiz-incorrect-color: #d50000;
  --task-text-color: #f3f3f3;
  --task-bold-color: #3bff65;
  --task-italic-color: #81d4fa;
  --task-italic-bold-color: #ffab40;
  --task-bold-italic-color: #ff6e40;
  --hint-info-background-color: #263238;
  --hint-info-border-color: #2196f3;
  --hint-text-color: #ffffff;
  --hint-success-background-color: rgba(27, 94, 32, 0.2196078431);
  --hint-success-border-color: #4caf50;
  --hint-warning-background-color: rgba(245, 193, 23, 0.2196078431);
  --hint-warning-border-color: #ffc400;
  --hint-danger-background-color: rgba(183, 28, 28, 0.2196078431);
  --hint-danger-border-color: #f44336;
  --font-family-sans: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  --font-family-mono: Courier New, Courier, monospace;
  --font-family-gill-sans: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
  --font-family-georgia: Georgia, Times New Roman, Times, serif;
  --font-family-arial: Arial, Helvetica, sans-serif;
  --font-family-verdana: Verdana, Geneva, Tahoma, sans-serif;
  --font-family-comic-sans: Comic Sans MS, cursive, sans-serif;
}

.textarea-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input:hover, input.hovered,
select:hover,
select.hovered,
textarea:hover,
textarea.hovered {
  outline: var(--outline-hover);
  outline-offset: 1px;
  background-color: var(--input-bg-color-hover);
  border: var(--input-border-hover);
}
input,
select,
textarea {
  accent-color: var(--accent-color);
  background-color: var(--input-bg-color);
  border: var(--input-border);
  border-radius: 3px;
  color: var(--text-color);
  padding: 5px;
  max-width: 95%;
}

input[type=date]::-webkit-calendar-picker-indicator,
input[type=time]::-webkit-calendar-picker-indicator,
input[type=datetime-local]::-webkit-calendar-picker-indicator,
input[type=password]::-webkit-password-toggle-button {
  filter: invert(1);
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: textfield;
  padding-right: 25px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numeric-input {
  position: relative;
}

.numeric-arrow-wrapper {
  height: 70%;
  width: 20px;
  position: absolute;
  top: 4px;
  right: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--button-bg-hover-secondary);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

button.koala-number-arrow {
  color: var(--text-color);
  font-size: 0.5rem;
  padding: 0 5px;
  cursor: pointer;
  border-radius: 0;
  border-top-right-radius: 0px;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
}

button.koala-number-arrow:hover,
button.koala-number-arrow:focus-visible {
  outline: var(--outline-hover);
  outline-offset: 1px;
  background-color: var(--button-bg-hover-primary);
}

button.koala-number-arrow-up {
  border-top-right-radius: 2px;
}

button.koala-number-arrow-down {
  border-bottom-right-radius: 2px;
}

input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type=color]::-webkit-color-swatch {
  border: var(--input-border);
  border-radius: 5px;
}
input[type=color] {
  padding: 0;
  border: none;
  width: 2.5rem;
  height: 1.5rem;
  cursor: pointer;
  background: none;
}

input[type=file] {
  padding: 5px;
  border-radius: 5px;
}
input[type=file]::file-selector-button {
  background-color: var(--input-bg-color);
  color: var(--text-color);
  border: 1px solid var(--input-border);
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
input[type=file]::file-selector-button:hover {
  background-color: var(--input-bg-color-hover);
  border-color: var(--input-border-hover);
}

textarea {
  background-color: var(--input-bg-color);
  color: var(--text-color);
  border: var(--input-border);
  padding: 8px;
  border-radius: 5px;
  min-height: 100px;
}

details {
  background-color: var(--input-bg-color);
  border: var(--input-border);
  padding: 10px;
  border-radius: 5px;
  color: var(--text-color);
  margin-bottom: 1rem;
  width: 100%;
}
details img {
  width: 80%;
  height: auto;
  margin: auto;
  display: block;
}

summary {
  background-color: var(--bg-layer-2);
  border: 1px solid transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: -10px -10px 15px -10px;
  padding: 10px;
}
summary:hover, summary:focus {
  outline: none;
  border: var(--outline-hover);
  border-bottom: none;
  background-color: var(--bg-layer-4);
  margin-bottom: 1rem;
}

details[open]:hover {
  border: var(--outline-hover);
}

label {
  font-weight: 500;
  margin: 5px 10px;
  display: block;
}
label.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

label:focus-visible,
textarea:focus-visible,
input:focus-visible:not([type=radio]),
select:focus-visible {
  outline: var(--outline-focus);
  outline-offset: 1px;
  background-color: var(--input-bg-color-hover);
  border: var(--input-border-hover);
}

button:focus-visible {
  outline: var(--outline-focus);
  outline-offset: 1px;
}

input[type=radio] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  background-color: var(--text-color);
}
input[type=radio]:focus-visible::after, input[type=radio]:hover::after {
  content: "";
  position: absolute;
  inset: -5px;
  border: 2px solid var(--focus-outline-color);
  border-radius: 50%;
}
input[type=radio]:checked {
  background-color: var(--accent-color);
  box-shadow: inset 0 0 0 0.1em var(--input-bg-color);
}

.input-wrapper {
  display: flex;
  align-items: center;
  margin: 2px;
  padding: 5px 10px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}

#test-color-palette {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 10px;
}
#test-color-palette div {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
#test-color-palette div:nth-child(1) {
  background-color: var(--background-color);
}
#test-color-palette div:nth-child(2) {
  background-color: var(--bg-layer-1);
}
#test-color-palette div:nth-child(3) {
  background-color: var(--bg-layer-2);
}
#test-color-palette div:nth-child(4) {
  background-color: var(--bg-layer-3);
}
#test-color-palette div:nth-child(5) {
  background-color: var(--bg-layer-4);
}

.file-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
.file-wrapper label {
  border: var(--input-border);
  padding: 8px;
  border-radius: 5px;
  background-color: var(--button-bg-tertiary);
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}
.file-wrapper label:hover {
  background-color: var(--button-bg-hover-tertiary);
}

.file-input {
  display: none;
}

.file-name {
  color: var(--text-color);
  cursor: help;
  border: var(--input-border);
  padding: 8px;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-preview {
  position: absolute;
  left: calc(50% - 150px);
  background-color: var(--background-color);
  border: var(--input-border);
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
  height: auto;
  max-height: 200px;
  overflow: auto;
  display: none;
  z-index: 10;
}

.file-preview.has-preview:hover,
.file-name:hover + .file-preview.has-preview,
.file-name:focus + .file-preview.has-preview {
  display: block;
}

.password-strength-indicator {
  padding: 5px 5px 0;
  border-bottom: 2px solid gray;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0 0 0.5rem 5px;
  white-space: nowrap;
}

.password-strength-indicator.weak {
  border-color: red;
}

.password-strength-indicator.medium {
  border-color: orange;
}

.password-strength-indicator.strong {
  border-color: green;
}

form {
  display: flex;
  gap: 10px;
  padding: 20px;
  background-color: var(--form-bg-color);
  border: var(--form-border);
  border-radius: 5px;
}
form button[type=submit] {
  margin-top: 10px;
}
form .input-wrapper {
  background-color: var(--form-input-wrapper-bg-color);
}