@charset "UTF-8";
/* Regular */
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/AtkinsonHyperlegible-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Italic */
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/AtkinsonHyperlegible-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
/* Bold */
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/AtkinsonHyperlegible-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Bold Italic */
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/AtkinsonHyperlegible-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
:root[data-theme=dark] {
  --text-color: #e5ebfa;
  --background-color: #030303;
  --bg-layer-1: #161616;
  --bg-layer-2: #1d1d1d;
  --bg-layer-3: #232323;
  --bg-layer-4: #292929;
  --bg-gradient-1: linear-gradient(142deg, rgb(0, 140, 195) 0%, rgb(47, 187, 105) 50%, rgb(243, 227, 85) 100%);
  --bg-gradient-2: linear-gradient(90deg, rgb(155, 42, 123) 0%, rgb(199, 87, 133) 50%, rgb(237, 83, 221) 100%);
  --bg-gradient-3: linear-gradient(90deg, rgb(123, 155, 42) 0%, rgb(199, 133, 87) 50%, rgb(221, 237, 83) 100%);
  --focus-outline-color: #00ffbf;
  --accent-color: #009fff;
  --input-bg-color: #101010;
  --input-bg-color-hover: #1a1a1a;
  --input-border: 1px solid #3a3a3a;
  --input-border-hover: 1px solid #9b9b9b;
  --outline-focus: 2px solid var(--focus-outline-color);
  --outline-hover: 1px solid var(--focus-outline-color);
  --button-bg-primary: #004c98;
  --button-bg-secondary: #464e55;
  --button-bg-tertiary: #005614;
  --button-bg-quaternary: #991825;
  --button-bg-fifth: #68471e;
  --button-bg-hover-primary: #113f70;
  --button-bg-hover-secondary: #30363b;
  --button-bg-hover-tertiary: #0e491b;
  --button-bg-hover-quaternary: #7e121d;
  --button-bg-hover-fifth: #4b3418;
  --form-bg-color: #353535;
  --form-border: 1px solid #606060;
  --form-input-wrapper-bg-color: #444444;
  --hr-color: #0056ab;
  --link-color: #64b5f6;
  --link-hover-color: #90caf9;
  --link-visited-color: #9575cd;
  --link-visited-hover-color: #b39ddb;
  --quiz-text-color: #cdcdcd;
  --quiz-correct-color: #00c853;
  --quiz-incorrect-color: #d50000;
  --task-text-color: #f3f3f3;
  --task-bold-color: #3bff65;
  --task-italic-color: #81d4fa;
  --task-italic-bold-color: #ffab40;
  --task-bold-italic-color: #ff6e40;
  --hint-info-background-color: #263238;
  --hint-info-border-color: #2196f3;
  --hint-text-color: #ffffff;
  --hint-success-background-color: rgba(27, 94, 32, 0.2196078431);
  --hint-success-border-color: #4caf50;
  --hint-warning-background-color: rgba(245, 193, 23, 0.2196078431);
  --hint-warning-border-color: #ffc400;
  --hint-danger-background-color: rgba(183, 28, 28, 0.2196078431);
  --hint-danger-border-color: #f44336;
  --exam-item-header-bg-color: #141414;
  --exam-passed-text-color: #8FF993;
  --exam-failed-text-color: #FF7474;
  --exam-empty-text-color: #C484FD;
  /* Fonts */
  --font-family-sans: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  --font-family-mono: Courier New, Courier, monospace;
  --font-family-gill-sans: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
  --font-family-georgia: Georgia, Times New Roman, Times, serif;
  --font-family-arial: Arial, Helvetica, sans-serif;
  --font-family-verdana: Verdana, Geneva, Tahoma, sans-serif;
  --font-family-comic-sans: Comic Sans MS, cursive, sans-serif;
  --font-family-atkinson-hyperlegible: 'Atkinson Hyperlegible', sans-serif;
}

:root[data-theme=light] {
  --text-color: #121212;
  --background-color: #ffffff;
  --bg-layer-1: #f3f3f3;
  --bg-layer-2: #eeeeee;
  --bg-layer-3: #e0e0e0;
  --bg-layer-4: #cccccc;
  --bg-gradient-1: linear-gradient(142deg, rgb(103, 209, 255) 0%, rgb(119, 255, 171) 50%, rgb(255, 244, 145) 100%);
  --bg-gradient-2: linear-gradient(90deg, rgb(190, 80, 150) 0%, rgb(220, 130, 160) 50%, rgb(255, 120, 240) 100%);
  --bg-gradient-3: linear-gradient(90deg, rgb(160, 190, 80) 0%, rgb(220, 170, 120) 50%, rgb(255, 240, 120) 100%);
  --focus-outline-color: #008060;
  --accent-color: #0077c9;
  --input-bg-color: #ffffff;
  --input-bg-color-hover: #f0f0f0;
  --input-border: 1px solid #777777;
  --input-border-hover: 1px solid #464646;
  --outline-focus: 3px solid var(--focus-outline-color);
  --outline-hover: 2px solid var(--focus-outline-color);
  --button-bg-primary: #7dbeff;
  --button-bg-secondary: #bcc7d1;
  --button-bg-tertiary: #78f198;
  --button-bg-quaternary: #ffadad;
  --button-bg-fifth: #ffde71;
  --button-bg-hover-primary: #369aff;
  --button-bg-hover-secondary: #85939e;
  --button-bg-hover-tertiary: #2dc355;
  --button-bg-hover-quaternary: #f96767;
  --button-bg-hover-fifth: #d6ad26;
  --form-bg-color: #ffffff;
  --form-border: 1px solid #b0b0b0;
  --form-input-wrapper-bg-color: #f5f5f5;
  --hr-color: #a0a0a0;
  --link-color: #004A6D;
  --link-hover-color: #092ACF;
  --link-visited-color: #71139A;
  --link-visited-hover-color: #572f68;
  --quiz-text-color: #333333;
  --quiz-correct-color: #4caf50;
  --quiz-incorrect-color: #f44336;
  --task-text-color: #333333;
  --task-bold-color: #00a000;
  --task-italic-color: #00796b;
  --task-italic-bold-color: #d84315;
  --task-bold-italic-color: #bf360c;
  --hint-text-color: #121212;
  --hint-info-background-color: #e3f2fd;
  --hint-info-border-color: #2196f3;
  --hint-success-background-color: #e8f5e9;
  --hint-success-border-color: #4caf50;
  --hint-warning-background-color: #fff8e1;
  --hint-warning-border-color: #ffc107;
  --hint-danger-background-color: #ffebee;
  --hint-danger-border-color: #f44336;
  --exam-item-header-bg-color: #fff;
  --exam-passed-text-color: #035B06;
  --exam-failed-text-color: #A10000;
  --exam-empty-text-color: #6E00CE;
  /* Fonts */
  --font-family-sans: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  --font-family-mono: Courier New, Courier, monospace;
  --font-family-gill-sans: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
  --font-family-georgia: Georgia, Times New Roman, Times, serif;
  --font-family-arial: Arial, Helvetica, sans-serif;
  --font-family-verdana: Verdana, Geneva, Tahoma, sans-serif;
  --font-family-comic-sans: Comic Sans MS, cursive, sans-serif;
  --font-family-atkinson-hyperlegible: 'Atkinson Hyperlegible', sans-serif;
}

.important-font {
  font-family: initial;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-atkinson-hyperlegible);
  line-height: 1.8;
  letter-spacing: 0.05rem;
  word-spacing: 0.1rem;
}

::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(30, 30, 30, 0.6);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(180, 180, 180, 0.4);
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.3019607843);
}

html[data-theme=dark] * {
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3137254902), 1px -1px 2px rgba(0, 0, 0, 0.3137254902), -1px 1px 2px rgba(0, 0, 0, 0.3137254902), 1px 1px 2px rgba(0, 0, 0, 0.3137254902);
}

html,
body {
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

header {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
header {
  width: 100%;
  background-color: var(--bg-layer-3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
}
header a {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--link-color);
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
  transition: all 0.3s ease;
}
header a:hover {
  color: var(--link-hover-color);
}
header a:visited {
  color: var(--link-color);
}
header a:visited:hover {
  color: var(--link-hover-color);
}
header a:focus {
  outline: var(--outline-hover);
  outline-offset: 1px;
}

main:not(.course-page) {
  min-height: calc(100vh - 60px);
  margin: 0 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--bg-layer-4);
}
@media (max-width: 992px) {
  main:not(.course-page) {
    padding: 15px;
  }
}
@media (max-width: 768px) {
  main:not(.course-page) {
    padding: 10px;
  }
}
@media (max-width: 576px) {
  main:not(.course-page) {
    padding: 5px;
  }
}

footer {
  width: 100%;
  background-color: var(--bg-layer-3);
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  padding: 5px;
}

hr {
  border: 1px solid var(--hr-color);
  border-radius: 2px;
  margin: 10px;
  width: 95%;
}

a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  color: var(--link-hover-color);
}
a:visited {
  color: var(--link-visited-color);
}
a:visited:hover {
  color: var(--link-visited-hover-color);
}
a:focus {
  outline: var(--outline-focus);
  outline-offset: 2px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
  margin-right: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background-color: #476173;
}
.switch input:checked + .slider:before {
  transform: translateX(20px);
  background-color: transparent;
  border-radius: 50%;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  box-shadow: inset -5px -3px 0 #d8e9ef;
}
.switch:focus,
.switch input:focus + .slider {
  transition: none;
  outline: var(--outline-hover);
  outline-offset: 1px;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7bb9f5;
  transition: 0.4s;
  border-radius: 20px;
  box-shadow: 0 0 0.25em rgba(67, 71, 85, 0.27), 0.2px 0.2em 24px 0 rgba(1, 29, 77, 0.15);
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: yellow;
  transition: 0.4s;
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
}

.layout-row {
  flex-direction: row;
}

.layout-row-center {
  flex-direction: row;
  justify-content: center;
}

.layout-row-full {
  flex-direction: row;
  justify-content: space-between;
}

.layout-column {
  flex-direction: column;
  align-items: flex-start;
}

.layout-column-center {
  flex-direction: column;
  align-items: center;
}

.layout-column-full {
  flex-direction: column;
  justify-content: space-between;
}

.notification {
  position: fixed;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background: var(--background-color);
  padding: 20px 35px 20px 25px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.notification.active {
  transform: translateX(0%);
}

.notification .notification-content {
  display: flex;
  align-items: center;
}

.notification-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  color: var(--text-color);
  font-size: 20px;
  border-radius: 50%;
}

.notification-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

.message .text.text-1 {
  font-weight: 600;
  color: var(--text-color);
}

.notification .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.notification .close:hover {
  opacity: 1;
}

.notification .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
}

.notification .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: var(--bg-gradient-2);
}

.progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}
button {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
button {
  background-color: var(--button-bg-primary);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
button:hover, button.hovered {
  background-color: var(--button-bg-hover-primary);
}
button:focus-visible {
  outline: var(--outline-focus);
  outline-offset: 1px;
}
button.bg-primary {
  background-color: var(--button-bg-primary);
}
button:hover.bg-primary {
  background-color: var(--button-bg-hover-primary);
}
button.bg-secondary {
  background-color: var(--button-bg-secondary);
}
button:hover.bg-secondary {
  background-color: var(--button-bg-hover-secondary);
}
button.bg-tertiary {
  background-color: var(--button-bg-tertiary);
}
button:hover.bg-tertiary {
  background-color: var(--button-bg-hover-tertiary);
}
button.bg-quaternary {
  background-color: var(--button-bg-quaternary);
}
button:hover.bg-quaternary {
  background-color: var(--button-bg-hover-quaternary);
}
button.bg-fifth {
  background-color: var(--button-bg-fifth);
}
button:hover.bg-fifth {
  background-color: var(--button-bg-hover-fifth);
}
button:disabled {
  cursor: not-allowed;
  filter: opacity(0.6);
}

button .emoji {
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8), 0px 0px 1px rgba(0, 0, 0, 0.8), 0px 0px 1px rgba(0, 0, 0, 0.8), 0px 0px 1px rgba(0, 0, 0, 0.8);
}

.textarea-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input:hover, input.hovered,
select:hover,
select.hovered,
textarea:hover,
textarea.hovered {
  outline: var(--outline-hover);
  outline-offset: 1px;
  background-color: var(--input-bg-color-hover);
  border: var(--input-border-hover);
}
input,
select,
textarea {
  accent-color: var(--accent-color);
  background-color: var(--input-bg-color);
  border: var(--input-border);
  border-radius: 3px;
  color: var(--text-color);
  padding: 5px;
  max-width: 95%;
}

html[data-theme=dark] input[type=date]::-webkit-calendar-picker-indicator,
html[data-theme=dark] input[type=time]::-webkit-calendar-picker-indicator,
html[data-theme=dark] input[type=datetime-local]::-webkit-calendar-picker-indicator,
html[data-theme=dark] input[type=password]::-webkit-password-toggle-button {
  filter: invert(1);
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: textfield;
  padding-right: 25px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numeric-input {
  position: relative;
}

.numeric-arrow-wrapper {
  height: 70%;
  width: 20px;
  position: absolute;
  top: 4px;
  right: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--button-bg-hover-secondary);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

button.koala-number-arrow {
  color: var(--text-color);
  font-size: 0.4rem;
  padding: 0 5px;
  cursor: pointer;
  border-radius: 0;
  border-top-right-radius: 0px;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
}

button.koala-number-arrow:hover,
button.koala-number-arrow:focus-visible {
  outline: var(--outline-hover);
  outline-offset: 1px;
  background-color: var(--button-bg-hover-primary);
}

button.koala-number-arrow-up {
  border-top-right-radius: 2px;
}

button.koala-number-arrow-down {
  border-bottom-right-radius: 2px;
}

input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type=color]::-webkit-color-swatch {
  border: var(--input-border);
  border-radius: 5px;
}
input[type=color] {
  padding: 0;
  border: none;
  width: 2.5rem;
  height: 1.5rem;
  cursor: pointer;
  background: none;
}

input[type=file] {
  padding: 5px;
  border-radius: 5px;
}
input[type=file]::file-selector-button {
  background-color: var(--input-bg-color);
  color: var(--text-color);
  border: 1px solid var(--input-border);
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
input[type=file]::file-selector-button:hover {
  background-color: var(--input-bg-color-hover);
  border-color: var(--input-border-hover);
}

textarea {
  background-color: var(--input-bg-color);
  color: var(--text-color);
  border: var(--input-border);
  padding: 8px;
  border-radius: 5px;
  min-height: 100px;
}

details {
  background-color: var(--input-bg-color);
  border: var(--input-border);
  padding: 10px;
  border-radius: 5px;
  color: var(--text-color);
  margin-bottom: 1rem;
  width: 100%;
}
details img {
  width: 80%;
  height: auto;
  margin: auto;
  display: block;
}

summary {
  background-color: var(--bg-layer-2);
  border: 1px solid transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: -10px -10px 15px -10px;
  padding: 10px;
}
summary:hover, summary:focus {
  outline: none;
  outline: var(--outline-hover);
  border-bottom: none;
  background-color: var(--bg-layer-4);
  margin-bottom: 1rem;
}

details[open]:hover {
  outline: var(--outline-hover);
}

label {
  font-weight: 500;
  margin: 5px 10px;
  display: block;
}
label.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

label:focus-visible,
textarea:focus-visible,
input:focus-visible:not([type=radio]),
select:focus-visible {
  outline: var(--outline-focus);
  outline-offset: 1px;
  background-color: var(--input-bg-color-hover);
  border: var(--input-border-hover);
}

button:focus-visible {
  outline: var(--outline-focus);
  outline-offset: 1px;
}

input[type=radio] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  background-color: #fff;
}
input[type=radio]:focus-visible::after, input[type=radio]:hover::after {
  content: "";
  position: absolute;
  inset: -5px;
  border: 2px solid var(--focus-outline-color);
  border-radius: 50%;
}
input[type=radio]:checked {
  background-color: var(--accent-color);
  box-shadow: inset 0 0 0 0.1em var(--input-bg-color);
}

.input-wrapper {
  display: flex;
  align-items: center;
  margin: 2px;
  padding: 5px 10px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}

#test-color-palette {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 10px;
}
#test-color-palette div {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
#test-color-palette div:nth-child(1) {
  background-color: var(--background-color);
}
#test-color-palette div:nth-child(2) {
  background-color: var(--bg-layer-1);
}
#test-color-palette div:nth-child(3) {
  background-color: var(--bg-layer-2);
}
#test-color-palette div:nth-child(4) {
  background-color: var(--bg-layer-3);
}
#test-color-palette div:nth-child(5) {
  background-color: var(--bg-layer-4);
}

.file-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
.file-wrapper label {
  border: var(--input-border);
  padding: 8px;
  border-radius: 5px;
  background-color: var(--button-bg-tertiary);
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}
.file-wrapper label:hover {
  background-color: var(--button-bg-hover-tertiary);
}

.file-input {
  display: none;
}

.file-name {
  color: var(--text-color);
  cursor: help;
  border: var(--input-border);
  padding: 8px;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-preview {
  position: absolute;
  left: calc(50% - 150px);
  background-color: var(--background-color);
  border: var(--input-border);
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
  height: auto;
  max-height: 200px;
  overflow: auto;
  display: none;
  z-index: 10;
}

.file-preview.has-preview:hover,
.file-name:hover + .file-preview.has-preview,
.file-name:focus + .file-preview.has-preview {
  display: block;
}

.password-strength-indicator {
  padding: 5px 5px 0;
  border-bottom: 2px solid gray;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0 0 0.5rem 5px;
  white-space: nowrap;
}

.password-strength-indicator.weak {
  border-color: red;
}

.password-strength-indicator.medium {
  border-color: orange;
}

.password-strength-indicator.strong {
  border-color: green;
}

form {
  display: flex;
  gap: 10px;
  padding: 20px;
  background-color: var(--form-bg-color);
  border: var(--form-border);
  border-radius: 5px;
}
form button[type=submit] {
  margin-top: 10px;
}
form .input-wrapper {
  background-color: var(--form-input-wrapper-bg-color);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: var(--bg-layer-1);
  text-shadow: none;
}
th:focus, th:focus-visible {
  outline: 2px solid var(--focus-outline-color);
  outline-offset: 2px;
}

th:hover,
td:hover {
  background-color: var(--bg-layer-2);
}

th,
td {
  border: 1px solid var(--background-color);
  padding: 10px;
  text-align: left;
}

th.active,
.mobile-header-button.active {
  color: var(--accent-color);
  font-weight: bold;
}

.table-view {
  display: grid;
  width: 100%;
}

.table-view > * {
  grid-area: 1/1;
  opacity: 1;
  transition: opacity 0.25s ease;
}

.table-view .fade-in {
  opacity: 0;
}

.table-view .fade-in.show {
  opacity: 1;
}

.table-view .fade-out {
  opacity: 0;
}

.export-buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mobile-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mobile-row {
  background-color: var(--bg-layer-1);
  border: 1px solid var(--bg-layer-4);
  border-radius: 5px;
  padding: 10px;
}

.mobile-cell {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-top: 1px solid var(--bg-layer-4);
  border-bottom: 1px solid var(--bg-layer-4);
}

.mobile-cell:first-child {
  border-top: none;
}

.mobile-cell:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.mobile-label {
  font-weight: bold;
  color: var(--text-color);
  border-right: 1px solid var(--bg-layer-4);
  width: 50%;
}

.mobile-value {
  flex-grow: 1;
  align-content: center;
  color: var(--text-color);
}

table img,
.mobile-value img {
  max-width: 180px;
  height: auto;
  border-radius: 5px;
}

table .input-wrapper,
.mobile-value .input-wrapper {
  box-shadow: none;
  flex-direction: column;
}

.mobile-header-button {
  background: var(--secondary-color);
  border: none;
  color: var(--text-color);
  font-weight: bold;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.mobile-header-button:hover {
  background-color: var(--hover-secondary-color);
}

html[data-theme=light] #welcome-section #welcome-message img {
  filter: brightness(1.3);
}

#welcome-section {
  min-height: 600px;
  width: 100%;
  background-color: var(--bg-layer-2);
  display: flex;
}
#welcome-section #welcome-message {
  width: 50%;
  color: var(--text-color);
  background: var(--bg-gradient-1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
#welcome-section #welcome-message h2,
#welcome-section #welcome-message h2 * {
  font-size: 2.5rem;
  text-align: right;
  padding-right: 40px;
}
#welcome-section #welcome-message p {
  font-size: 1.1rem;
  text-align: right;
  padding-right: 45px;
}
#welcome-section #welcome-message img {
  width: 100%;
  display: block;
  position: relative;
  bottom: 0;
  left: 0;
  max-width: 700px;
  transition: 400ms all;
}
#welcome-section #login-section {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
#welcome-section #login-section h2 {
  width: 100%;
  padding: 5px;
  text-align: center;
  border: 2px solid var(--bg-layer-4);
  border-bottom: 2px solid var(--hr-color);
  border-right-width: 2px;
  border-radius: 5px 5px 0 0;
  margin-bottom: 10px;
}
#welcome-section #login-section p {
  font-style: italic;
  font-family: var(--font-family-gill-sans);
  filter: brightness(0.8);
}
#welcome-section #login-section form {
  margin-top: 50px;
  max-width: 400px;
  width: 100%;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
#welcome-section #login-section label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
#welcome-section #login-section input {
  width: 100%;
  padding: 10px;
  margin: auto;
  border: 1px solid var(--bg-layer-4);
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
@media (max-width: 768px) {
  #welcome-section {
    flex-direction: column;
  }
  #welcome-section #welcome-message,
  #welcome-section #login-section {
    width: 100%;
  }
  #welcome-section #welcome-message h2,
  #welcome-section #welcome-message p {
    text-align: center;
    padding: 0 20px;
  }
  #welcome-section #welcome-message img {
    display: none;
  }
  #welcome-section #login-section form {
    width: 100%;
    max-width: 400px;
  }
}

.wrap-span-text {
  display: inline-block;
  white-space: nowrap;
}

.wrapper-300 {
  max-width: 300px;
}

#courses-content-container {
  background-color: var(--bg-layer-1);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
}
#courses-content-container h2 {
  text-align: center;
  font-size: 1.8rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--button-bg-primary);
}
#courses-content-container ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
#courses-content-container li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--bg-layer-4);
  border-radius: 5px;
  background-color: var(--bg-layer-2);
  cursor: pointer;
  display: block;
  width: 160px;
  height: 270px;
  text-align: center;
}
#courses-content-container li:hover {
  background-color: var(--bg-layer-3);
}
#courses-content-container li img {
  width: 135px;
  max-height: 143px;
  height: auto;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
#courses-content-container li:hover img {
  transform: scale(1.05);
  transition: transform 0.2s;
}
#courses-content-container li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
#courses-content-container #footer-course {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#courses-content-container #footer-course hr {
  width: 100%;
  border: 1px solid var(--bg-layer-4);
  margin: 0;
}
#courses-content-container #footer-course span {
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 0.6rem;
  color: var(--button-bg-secondary);
}

.quiz-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-layer-1);
  color: var(--quiz-text-color);
  border-radius: 5px;
}
@media (max-width: 992px) {
  .quiz-container {
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .quiz-container {
    padding: 5px;
  }
}
@media (max-width: 576px) {
  .quiz-container {
    padding: 0;
  }
}
.quiz-container .quiz-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.quiz-content-application {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media (max-width: 1200px) {
  .quiz-content-application {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .quiz-content-application {
    flex-direction: column;
    gap: 5px;
  }
}

.quiz-sections {
  flex: 1;
  margin: 10px;
  background-color: var(--bg-layer-2);
  border-radius: 5px;
  padding: 10px;
}
.quiz-sections button {
  margin-top: 10px;
  width: 100%;
}

.quiz-question-fieldset {
  border: 2px solid var(--bg-layer-4);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}
.quiz-question-fieldset:focus-within {
  outline: 1px solid var(--focus-outline-color);
  outline-offset: 3px;
}

.quiz-question-legend {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 2px solid var(--bg-layer-4);
  border-bottom: 2px solid var(--hr-color);
  border-radius: 5px 5px 0 0;
  font-family: var(--font-family-georgia);
  background-color: var(--bg-layer-3);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}

.quiz-example-wrapper img,
.quiz-question-image {
  max-width: 100%;
  height: auto;
  max-height: 300px;
  margin: 20px auto;
  display: block;
  border-radius: 5px;
}

.quiz-label-answer {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid var(--bg-layer-4);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--bg-layer-3);
  transition: background-color 0.2s;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
.quiz-label-answer input {
  margin-right: 10px;
}
.quiz-label-answer:hover {
  background-color: var(--bg-layer-1);
}
.quiz-label-answer input:checked + span,
.quiz-label-answer input:checked {
  font-weight: bold;
  color: var(--accent-color);
}
.quiz-label-answer:not(.correct):not(.incorrect):has(input:checked) {
  border: 2px solid var(--accent-color);
  background-color: rgba(0, 159, 255, 0.1254901961);
}
.quiz-label-answer.correct {
  border: 2px solid var(--quiz-correct-color);
  background-color: rgba(0, 255, 0, 0.1254901961);
}
.quiz-label-answer.correct::before {
  content: "✔ ";
  color: var(--quiz-correct-color);
  font-weight: bold;
}
.quiz-label-answer.incorrect {
  border: 2px solid var(--quiz-incorrect-color);
  background-color: rgba(255, 0, 0, 0.1254901961);
}
.quiz-label-answer.incorrect::before {
  content: "✘ ";
  color: var(--quiz-incorrect-color);
  font-weight: bold;
}

.correct {
  animation: correctAnimation 0.3s;
}

@keyframes correctAnimation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.95);
  }
  75% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
.incorrect {
  animation: shake 0.3s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
#quiz-feedback-title {
  font-size: 1.2rem;
  font-weight: bold;
  opacity: 0.6;
  font-family: var(--font-family-mono);
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--primary-color);
}

.quiz-example-wrapper {
  min-height: 40px;
  text-align: center;
  margin-top: 10px;
}

.correct-msg {
  color: var(--quiz-correct-color);
  font-weight: bold;
  margin-bottom: 20px;
  font-family: var(--font-family-comic-sans);
}

.incorrect-msg {
  color: var(--quiz-incorrect-color);
  font-weight: bold;
  margin-bottom: 20px;
  font-family: var(--font-family-comic-sans);
}

.quiz-end-example-wrapper {
  margin-top: 20px;
}
.quiz-end-example-wrapper details {
  margin: auto;
}

.quiz-incorrect-list-example-answers {
  margin-top: 20px;
}
.quiz-incorrect-list-example-answers .quiz-incorrect-list-item {
  margin-bottom: 20px;
  background-color: var(--bg-layer-1);
  border-radius: 5px;
  padding: 10px;
}
.quiz-incorrect-list-example-answers p {
  margin: 10px;
  font-family: var(--font-family-verdana);
}
.quiz-incorrect-list-example-answers hr {
  margin: 10px auto;
  border: 0;
  border-top: 1px solid var(--hint-success-border-color);
}
.quiz-incorrect-list-example-answers b {
  font-style: italic;
}
.quiz-incorrect-list-example-answers p:nth-child(n+1) b {
  color: var(--link-visited-hover-color);
}
.quiz-incorrect-list-example-answers p:nth-child(n+2) b {
  color: var(--link-hover-color);
}

#dashboard {
  width: 100%;
}

#dashboard-content {
  background-color: var(--bg-layer-1);
  margin-top: 20px;
  padding: 20px;
}

#dashboard nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}
#dashboard nav button {
  flex-grow: 1;
  flex-basis: calc(20% - 10px);
  text-align: center;
  transition: 400ms background-color, 200ms transform ease-in-out, 0 outline;
}
#dashboard nav button:focus, #dashboard nav button:hover {
  background-color: var(--bg-layer-3);
  transform: scale(1.04);
  border-radius: 0;
  transition: transform 0.2s;
  z-index: 1;
  transition: 400ms background-color, 200ms transform ease-in-out, 0 outline;
}
#dashboard nav button:hover * {
  text-transform: none;
  transform: scale(2);
}
@media (max-width: 1200px) {
  #dashboard nav button {
    flex-basis: calc(25% - 10px);
  }
}
@media (max-width: 992px) {
  #dashboard nav button {
    flex-basis: calc(33.33% - 10px);
  }
}
@media (max-width: 576px) {
  #dashboard nav button {
    flex-basis: calc(50% - 10px);
  }
}

.dashboard-widgets {
  display: flex;
  gap: 20px;
  min-height: 570px;
}
@media (max-width: 576px) {
  .dashboard-widgets {
    flex-direction: column;
    align-items: center;
  }
}

.exam-section,
.subject-summary-widget {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
  margin: 15px;
  border-radius: 5px;
  width: 50%;
}

.exam-section h2,
.subject-summary-widget h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.5rem;
  background-color: var(--bg-layer-4);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.subject-summary-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
@media (max-width: 768px) {
  .subject-summary-list {
    flex-direction: column;
    align-items: center;
  }
}

.subject-card {
  background-color: var(--bg-layer-3);
  padding: 15px;
  border-radius: 5px;
  min-width: 200px;
  text-align: center;
  border: 1px solid var(--bg-layer-4);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
.subject-card-header h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}
.subject-card-footer, .subject-card-header {
  justify-content: center;
  background-color: var(--bg-layer-4);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}

.subject-emoji {
  font-size: 3rem;
}

.subject-status-text {
  font-size: small;
  margin-bottom: 5px;
}

.exam-list {
  list-style: none;
  padding: 15px;
}

.exam-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--bg-layer-4);
  border-radius: 5px;
  background-color: var(--bg-layer-3);
  cursor: pointer;
  transition: 300ms background-color ease;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
.exam-item:hover {
  background-color: var(--bg-layer-2);
}
.exam-item h4 {
  margin: -10px -11px 5px;
  background-color: var(--exam-item-header-bg-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0 10px;
}
.exam-item h4 span {
  width: 50%;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  color: var(--link-color);
}
.exam-item h4 span.exam-passed {
  text-align: right;
  font-size: 0.9rem;
  color: var(--exam-passed-text-color);
}
.exam-item h4 span.exam-failed {
  text-align: right;
  font-size: 0.9rem;
  color: var(--exam-failed-text-color);
}
.exam-item h4 span.exam-empty {
  text-align: right;
  font-size: 0.9rem;
  color: var(--exam-empty-text-color);
}
.exam-item p {
  margin: 0;
  font-size: 0.9rem;
  color: var(--quiz-text-color);
}

#tasks-page {
  background-color: var(--bg-layer-1);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
}
#tasks-page > header {
  justify-content: center;
  margin-bottom: 20px;
}
#tasks-page #nav-subject-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
#tasks-page #nav-subject-section button {
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--button-bg-secondary);
  color: var(--text-color);
  border: 1px solid var(--bg-layer-4);
  transform: none;
}
#tasks-page #nav-subject-section button:hover, #tasks-page #nav-subject-section button.active {
  background-color: var(--button-bg-primary);
}
#tasks-page #nav-subject-section button.active:hover {
  background-color: var(--button-bg-hover-primary);
}
#tasks-page #tasks-hub-page {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
#tasks-page #list-tasks-section {
  max-height: 850px;
  max-width: 600px;
  width: 100%;
  background-color: var(--bg-layer-2);
  padding: 15px;
  border-radius: 5px;
  overflow-y: auto;
}
@media (max-width: 1200px) {
  #tasks-page {
    padding: 20px 0;
  }
  #tasks-page #tasks-hub-page {
    flex-direction: column;
    align-items: center;
  }
  #tasks-page #list-tasks-section {
    width: 100%;
  }
}
@media (max-width: 576px) {
  #tasks-page #tasks-hub-page {
    flex-direction: column;
    align-items: center;
  }
}
#tasks-page #list-tasks-section ul small {
  color: var(--link-visited-color);
}
#tasks-page #list-tasks-section ul {
  list-style-type: none;
  padding-left: 5px;
}
#tasks-page #list-tasks-section ul li {
  margin-bottom: 8px;
  color: var(--text-color);
  border-bottom: 1px solid var(--bg-layer-4);
}
#tasks-page #list-tasks-section ul li:hover {
  color: var(--link-hover-color);
  cursor: pointer;
}
#tasks-page #task-detail-section {
  flex-grow: 1;
  max-width: 750px;
  margin-left: 20px;
}
#tasks-page #task-preview-section {
  min-height: 770px;
  height: 100%;
  width: 100%;
  background-color: var(--bg-layer-2);
  padding: 15px;
  border-radius: 5px;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  contain: layout paint size;
}
#tasks-page #task-preview-section :is(h1, h2, h3, h4, h5, h6):first-child {
  color: var(--hint-info-border-color);
  background-color: var(--bg-layer-4);
  margin: 0 0 10px;
  padding: 5px 30px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  text-align: center;
}

#tasks-status-page {
  background-color: var(--bg-layer-2);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
}

#tasks-status-content-area {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}

#tasks-status-content-area ul {
  list-style-type: none;
  padding-left: 0;
}
#tasks-status-content-area ul li {
  margin-bottom: 8px;
  color: var(--text-color);
  border-bottom: 2px solid var(--bg-layer-4);
}
#tasks-status-content-area ul li:hover {
  color: var(--link-hover-color);
  cursor: pointer;
}

#tasks-status-nav-filter-section form {
  width: 100%;
}

#tasks-status-content-area .status-section {
  flex-grow: 1;
  background-color: var(--bg-layer-3);
  padding: 15px;
  border-radius: 5px;
  max-height: 80vh;
  overflow-y: auto;
}
#tasks-status-content-area .status-section h3 {
  color: var(--hint-success-border-color);
  font-family: var(--font-family-verdana);
  border-bottom: 2px solid var(--background-color);
  padding: 10px;
  margin: -15px -15px 10px;
  background-color: var(--bg-layer-4);
}

#statistics-section {
  display: grid;
  grid-template-columns: 360px 1fr 360px;
  grid-template-rows: 300px 300px auto;
  gap: 8px;
}
#statistics-section > section {
  background-color: var(--bg-layer-3);
  padding: 15px;
  border-radius: 5px;
  overflow: auto;
}
#statistics-section #login-statistics-section {
  grid-column: 1;
  grid-row: 1;
}
#statistics-section #tasks-statistics-section {
  grid-column: 1;
  grid-row: 2;
}
#statistics-section #roadmap-statistics-section {
  grid-column: 2;
  grid-row: 1/span 2;
}
#statistics-section #quiz-statistics-section {
  grid-column: 3;
  grid-row: 1/span 2;
}
#statistics-section #courses-statistics-section {
  grid-column: 1/span 3;
  grid-row: 3;
}
@media (max-width: 1200px) {
  #statistics-section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  #statistics-section #login-statistics-section {
    grid-column: 1;
    grid-row: 1;
  }
  #statistics-section #tasks-statistics-section {
    grid-column: 2;
    grid-row: 1;
  }
  #statistics-section #roadmap-statistics-section {
    grid-column: 1;
    grid-row: 2;
  }
  #statistics-section #quiz-statistics-section {
    grid-column: 2;
    grid-row: 2;
  }
  #statistics-section #courses-statistics-section {
    grid-column: 1/span 2;
    grid-row: 3;
  }
}
@media (max-width: 768px) {
  #statistics-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  #statistics-section #login-statistics-section {
    grid-column: 1;
    grid-row: 1;
  }
  #statistics-section #tasks-statistics-section {
    grid-column: 1;
    grid-row: 2;
  }
  #statistics-section #roadmap-statistics-section {
    grid-column: 1;
    grid-row: 3;
    height: 400px;
  }
  #statistics-section #quiz-statistics-section {
    grid-column: 1;
    grid-row: 4;
  }
  #statistics-section #courses-statistics-section {
    grid-column: 1;
    grid-row: 5;
  }
}

#users-page {
  background-color: var(--bg-layer-2);
  margin: -15px;
  padding: 10px;
}
#users-page h2 {
  text-align: center;
  margin-bottom: 20px;
}

#users-content-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
#users-content-container .add-user-form-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
  align-items: flex-start;
}

@media (max-width: 768px) {
  #users-content-container > section {
    flex-direction: column;
    align-items: center;
  }
}
#classes-page {
  background-color: var(--bg-layer-2);
  margin: -15px;
  padding: 10px;
}
#classes-page h2 {
  text-align: center;
  margin-bottom: 20px;
}
#classes-page form {
  justify-content: center;
}

.module-menu {
  width: 360px;
  background-color: var(--bg-layer-1);
  overflow-y: auto;
  height: 100vh;
  padding-right: 8px;
}

.module-menu:focus,
.module-menu:focus-visible {
  outline: var(--outline-hover);
  outline-offset: 1px;
}

.module-menu ul {
  list-style-type: none;
  padding: 0;
}

.module-menu li.active,
.module-menu li:not(.module):not(:has(details)):hover {
  cursor: pointer;
  background-color: var(--button-bg-hover-primary);
  outline: 1px solid var(--accent-color);
}

.module-menu li:focus,
.module-menu li:focus-visible {
  outline: var(--outline-focus);
  outline-offset: 1px;
}

.module-menu > ul > li:first-child {
  margin: 0;
  background-color: var(--bg-layer-2);
  padding: 10px;
  margin: 1px;
}

.module-menu .module {
  margin: 15px 0 10px;
  border-top: 1px solid var(--hr-color);
  border-bottom: 1px solid var(--hr-color);
  background-color: var(--bg-layer-1);
  padding: 10px;
}

.module-menu details {
  margin: 5px 0;
  padding: 10px;
  background-color: var(--bg-layer-1);
}

.module-menu li:hover details {
  outline: none;
}

.module-menu details ul {
  margin-top: 10px;
  padding-left: 20px;
}

.module-menu details li {
  background-color: var(--bg-layer-3);
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
}

.module-menu > ul > li:not(:has(details)) {
  margin: 5px 0;
  background-color: var(--bg-layer-4);
  padding: 5px;
  border: var(--input-border);
}

.lesson-item,
.lesson {
  padding: 10px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}