table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: var(--table-header-bg-color);
  text-shadow: none;
  color: var(--text-color);
  border: 1px solid var(--table-border-color);
}
th:focus, th:focus-visible {
  outline: 2px solid var(--focus-outline-color);
  outline-offset: 2px;
}

th:hover {
  background-color: var(--table-header-hover-bg-color);
  color: var(--table-header-hover-color);
  cursor: pointer;
}

td:hover {
  background-color: var(--table-row-hover-bg-color);
}

th,
td {
  border: 1px solid var(--table-border-color);
  padding: 10px;
  text-align: left;
}

th.active,
.mobile-header-button.active {
  color: var(--table-hover-color);
  font-weight: bold;
}

.table-view {
  display: grid;
  width: 100%;
}

.table-view > * {
  grid-area: 1/1;
  opacity: 1;
  transition: opacity 0.25s ease;
}

.table-view .fade-in {
  opacity: 0;
}

.table-view .fade-in.show {
  opacity: 1;
}

.table-view .fade-out {
  opacity: 0;
}

.export-buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mobile-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mobile-row {
  background-color: var(--table-row-bg-color);
  border: 1px solid var(--table-border-color);
  border-radius: 5px;
  padding: 10px;
}

.mobile-cell {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-top: 1px solid var(--table-border-color);
  border-bottom: 1px solid var(--table-border-color);
}

.mobile-cell:first-child {
  border-top: none;
}

.mobile-cell:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.mobile-label {
  font-weight: bold;
  color: var(--text-color);
  border-right: 1px solid var(--table-border-color);
  width: 50%;
}

.mobile-value {
  flex-grow: 1;
  align-content: center;
  color: var(--text-color);
}

table img,
.mobile-value img {
  max-width: 180px;
  height: auto;
  border-radius: 5px;
}

table .input-wrapper,
.mobile-value .input-wrapper {
  box-shadow: none;
  flex-direction: column;
}

.mobile-header-button {
  background: var(--secondary-color);
  border: none;
  color: var(--text-color);
  font-weight: bold;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.mobile-header-button:hover {
  background-color: var(--hover-secondary-color);
}