@use 'root' as *;


.textarea-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input,
select,
textarea {
  &:hover,
  &.hovered {
    @include outline("hover");
    background-color: var(--input-bg-color-hover);
    border: var(--input-border-hover);
  }
  & {
    accent-color: var(--accent-color);
    background-color: var(--input-bg-color);
    border: var(--input-border);
    border-radius: 3px;
    color: var(--text-color);
    padding: 5px;
    max-width: 95%;
  }
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator,
input[type="password"]::-webkit-password-toggle-button {
  filter: invert(1);
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: textfield;
  padding-right: 25px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numeric-input {
  position: relative;
}

.numeric-arrow-wrapper {
  height: 70%;
  width: 20px;
  position: absolute;
  top: 4px;
  right: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--button-bg-hover-secondary);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

button.koala-number-arrow {
  color: var(--text-color);
  font-size: 0.5rem;
  padding: 0 5px;
  cursor: pointer;
  border-radius: 0;
  border-top-right-radius: 0px;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
}

button.koala-number-arrow:hover,
button.koala-number-arrow:focus-visible {
  @include outline("hover");
  background-color: var(--button-bg-hover-primary);
}

button.koala-number-arrow-up {
  border-top-right-radius: 2px;
}

button.koala-number-arrow-down {
  border-bottom-right-radius: 2px;
}

input[type="color"] {
  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  &::-webkit-color-swatch {
    border: var(--input-border);
    border-radius: 5px;
  }
  & {
    padding: 0;
    border: none;
    width: 2.5rem;
    height: 1.5rem;
    cursor: pointer;
    background: none;
  }
}

input[type="file"] {
  & {
    padding: 5px;
    border-radius: 5px;
  }
  &::file-selector-button {
    background-color: var(--input-bg-color);
    color: var(--text-color);
    border: 1px solid var(--input-border);
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  &::file-selector-button:hover {
    background-color: var(--input-bg-color-hover);
    border-color: var(--input-border-hover);
  }
}

textarea {
  background-color: var(--input-bg-color);
  color: var(--text-color);
  border: var(--input-border);
  padding: 8px;
  border-radius: 5px;
  min-height: 100px;
}

details {
  & {
    background-color: var(--input-bg-color);
    border: var(--input-border);
    padding: 10px;
    border-radius: 5px;
    color: var(--text-color);
    margin-bottom: 1rem;
    width: 100%;
  }
  & img {
        width: 80%;
    height: auto;
    margin: auto;
    display: block;
  }
}

summary {
  & {
    background-color: var(--bg-layer-2);
    border: 1px solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: -10px -10px 15px -10px;
    padding: 10px;
  }
  &:hover,
  &:focus {
    outline: none;
    border: var(--outline-hover);
    border-bottom: none;
    background-color: var(--bg-layer-4);
    margin-bottom: 1rem;
  }
}

details[open] {
  &:hover {
    border: var(--outline-hover);
  }
}

label {
  & {
    font-weight: 500;
    margin: 5px 10px;
    display: block;
  }
  &.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

label:focus-visible,
textarea:focus-visible,
input:focus-visible:not([type="radio"]),
select:focus-visible {
  @include outline("focus");
  @include input-hover;
}
button:focus-visible {
  @include outline("focus");
}

input[type="radio"] {
  & {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    background-color: var(--text-color);
  }
  &:focus-visible::after,
  &:hover::after {
    content: "";
    position: absolute;
    inset: -5px;
    border: 2px solid var(--focus-outline-color);
    border-radius: 50%;
  }
  &:checked {
    background-color: var(--accent-color);
    box-shadow: inset 0 0 0 0.1em var(--input-bg-color);
  }
}
.input-wrapper {
  display: flex;
  align-items: center;
  margin: 2px;
  padding: 5px 10px;
  @include shadow-box;
}

#test-color-palette {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  // background-color: rgb(61, 61, 61);
  padding: 10px;
  & div {
    width: 100px;
    height: 100px;
    border: 1px solid #00000033;
  }
  & div:nth-child(1) {
    background-color: var(--background-color);
  }
  & div:nth-child(2) {
    background-color: var(--bg-layer-1);
  }
  & div:nth-child(3) {
    background-color: var(--bg-layer-2);
  }
  & div:nth-child(4) {
    background-color: var(--bg-layer-3);
  }
  & div:nth-child(5) {
    background-color: var(--bg-layer-4);
  }
}

.file-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  @include shadow-box;
  & label {
    border: var(--input-border);
    padding: 8px;
    border-radius: 5px;
    background-color: var(--button-bg-tertiary);
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  & label:hover {
    background-color: var(--button-bg-hover-tertiary);
  }
}

.file-input {
  display: none;
}

.file-name {
  color: var(--text-color);
  cursor: help;
  border: var(--input-border);
  padding: 8px;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-preview {
  position: absolute;
  left: calc(50% - 150px);
  background-color: var(--background-color);
  border: var(--input-border);
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
  height: auto;
  max-height: 200px;
  overflow: auto;
  display: none;
  z-index: 10;
}

.file-preview.has-preview:hover,
.file-name:hover + .file-preview.has-preview,
.file-name:focus + .file-preview.has-preview {
  display: block;
}

.password-strength-indicator {
  padding: 5px 5px 0;
  border-bottom: 2px solid gray;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0 0 0.5rem 5px;
  white-space: nowrap;
}

.password-strength-indicator.weak {
  border-color: red;
}

.password-strength-indicator.medium {
  border-color: orange;
}

.password-strength-indicator.strong {
  border-color: green;
}

form{
  &{
  display: flex;
  gap: 10px;
  padding: 20px;
  background-color: var(--form-bg-color);
  border: var(--form-border);
  border-radius: 5px;
  }
  & button[type="submit"] {
    margin-top: 10px;
  }
  & .input-wrapper {
    background-color: var(--form-input-wrapper-bg-color);
  }
}
