@use "root" as *;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e99;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #b4b4b466;
  border-radius: 6px;
  border: 1px solid #0000004d;
}
html,
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family-gill-sans);

  font-size: 1rem;
  line-height: 1.8;
}

header {
  @include shadow-box;
  & {
    width: 100%;
    background-color: var(--bg-layer-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
  }
  & a {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--link-color);
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
    transition: all 0.3s ease;
    &:hover {
      color: var(--link-hover-color);
    }
    &:visited {
      color: var(--link-color);
      &:hover {
        color: var(--link-hover-color);
      }
    }
    &:focus {
      outline: var(--outline-hover);
      outline-offset: 1px;
    }
  }
}

main:not(.course-page) {
  & {
    min-height: calc(100vh - 60px);
    margin: 0 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--bg-layer-4);
  }

  @include respond-to(lg) {
    padding: 15px;
  }

  @include respond-to(md) {
    padding: 10px;
  }
  @include respond-to(sm) {
    padding: 5px;
  }
}

footer {
  & {
    width: 100%;
    background-color: var(--bg-layer-3);
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    padding: 5px;
  }
}
hr {
  border: 1px solid var(--hr-color);
  border-radius: 2px;
  margin: 10px;
  width: 95%;
}

a {
  color: var(--link-color);
  text-decoration: none;
  &:hover {
    color: var(--link-hover-color);
  }
  &:visited {
    color: var(--link-visited-color);
    &:hover {
      color: var(--link-visited-hover-color);
    }
  }
  &:focus {
    outline: var(--outline-focus);
    outline-offset: 2px;
  }
}