@use "root" as *;

.notification {
  position: fixed;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background: var(--background-color);
  padding: 20px 35px 20px 25px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.notification.active {
  transform: translateX(0%);
}

.notification .notification-content {
  display: flex;
  align-items: center;
}

.notification-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  color: var(--text-color);
  font-size: 20px;
  border-radius: 50%;
}

.notification-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

.message .text.text-1 {
  font-weight: 600;
  color: var(--text-color);
}

.notification .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.notification .close:hover {
  opacity: 1;
}

.notification .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;

}

.notification .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: var(--bg-gradient-2);
}

.progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}