@use "root";

@mixin hover-outline {
  outline: var(--outline-hover);
  outline-offset: 1px;
}

@mixin focus-outline {
  outline: var(--outline-focus);
  outline-offset: 1px;
}
@mixin input-hover {
  background-color: var(--input-bg-color-hover);
  border: var(--input-border-hover);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-shadow: 0 0 5px #00000080;
}

::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e99;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #b4b4b466;
  border-radius: 6px;
  border: 1px solid #0000004d;
}
html,
body {
  background-color: root.$background-color;
  color: root.$text-color;
  font-family: root.$font-family-sans;
  font-size: 1rem;
  line-height: 1.8;
}

header {
  & {
    width: 100%;
    background-color: var(--bg-layer-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
  }
  & a {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--link-color);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    &:hover {
      color: var(--link-hover-color);
    }
    &:visited {
      color: var(--link-color);
      &:hover {
        color: var(--link-hover-color);
      }
    }
    &:focus {
      outline: var(--outline-hover);
      outline-offset: 1px;
    }
  }
}

main {
  & {
    min-height: calc(100vh - 60px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  @include root.respond-to(lg) {
    padding: 15px;
  }

  @include root.respond-to(md) {
    padding: 10px;
  }
  @include root.respond-to(sm) {
    padding: 5px;
  }
}

footer {
  & {
    width: 100%;
    background-color: var(--bg-layer-1);
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    padding: 5px;
  }
}
hr {
  border: 1px solid var(--hr-color);
  border-radius: 2px;
  margin: 10px;
  width: 95%;
}

a {
  color: var(--link-color);
  text-decoration: none;
  &:hover {
    color: var(--link-hover-color);
  }
  &:visited {
    color: var(--link-visited-color);
    &:hover {
      color: var(--link-visited-hover-color);
    }
  }
  &:focus {
    outline: var(--outline-focus);
    outline-offset: 2px;
  }
}

input,
select,
textarea {
  &:hover,
  &.hovered {
    outline: var(--outline-hover);
    outline-offset: 2px;
    background-color: var(--input-bg-color-hover);
    border: var(--input-border-hover);
  }
  & {
    accent-color: var(--accent-color);
    background-color: var(--input-bg-color);
    border: var(--input-border);
    border-radius: 3px;
    color: var(--text-color);
    padding: 5px;
    margin: 5px;
  }
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}



input[type="number"] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    filter: invert(1);
  }
  &.ff-input {
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    padding-right: 10%;
    background-color: root.$input-bg-color;
  }
}

.numeric-input {
  display: inline-flex;
  align-items: center;
}

button.ff-number-arrow {
  background-color: transparent;
  color: var(--text-color);
  font-size: 0.5rem;
  padding: 1.7px 5px;
  cursor: pointer;
  border-radius: 0;
  margin-right: -10px;
  filter: brightness(0.6);
}

button.ff-number-arrow:hover {
  filter: brightness(1);
}

button.ff-number-arrow:hover input[type="number"] {
  border-color: var(--focus-outline-color);
}

button.ff-number-arrow:focus-visible {
  outline: 2px solid var(--focus-outline-color);
  outline-offset: -2px;
}

button.ff-number-arrow-up {
position: relative;
  right: 24px;
  top: -6.5px;
  border-top-right-radius: 2px;
}

button.ff-number-arrow-down {
position: relative;
  right: 31.8px;
  top: 6.8px;
  border-bottom-right-radius: 2px;
}

input[type="color"] {
  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  &::-webkit-color-swatch {
    border: var(--input-border);
    border-radius: 5px;
  }
  & {
    padding: 0;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    background: none;
  }
}

input[type="file"] {
  & {
    padding: 5px;
    border-radius: 5px;
  }
  &::file-selector-button {
    background-color: var(--input-bg-color);
    color: var(--text-color);
    border: 1px solid var(--input-border);
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  &::file-selector-button:hover {
    background-color: var(--input-bg-color-hover);
    border-color: var(--input-border-hover);
  }
}

textarea {
  background-color: var(--input-bg-color);
  color: var(--text-color);
  border: var(--input-border);
  padding: 8px;
  border-radius: 5px;
  min-height: 100px;
}

details {
  & {
    background-color: var(--input-bg-color);
    border: var(--input-border);
    padding: 10px;
    border-radius: 5px;
    color: var(--text-color);
    margin-bottom: 1rem;
    width: 100%;
  }
}

summary {
  & {
    background-color: var(--bg-layer-2);
    border: 1px solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: -10px -10px 15px -10px;
    padding: 10px;
  }
  &:hover,
  &:focus {
    outline: none;
    border: var(--outline-hover);
    border-bottom: none;
    background-color: var(--bg-layer-4);
    margin-bottom: 1rem;
  }
}

details[open] {
  &:hover {
    border: var(--outline-hover);
  }
}

label:focus-visible,
textarea:focus-visible,
input:focus-visible:not([type="radio"]),
select:focus-visible {
  @include focus-outline;
  @include input-hover;
}
button:focus-visible {
  @include focus-outline;
}

input[type="radio"] {
  & {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    width: 1em;
    height: 1em;
  }
  &:focus-visible::after,
  &:hover::after {
    content: "";
    position: absolute;
    inset: -5px; 
    border: 2px solid var(--focus-outline-color);
    border-radius: 50%;
  }
  &:checked {
    background-color: var(--accent-color);
    box-shadow: inset 0 0 0 0.1em var(--input-bg-color);
  }
}
.input-wrapper {
    display: flex;
    align-items: center;
    margin: 5px 0;
}
button {
  & {
    background-color: var(--button-bg-primary);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  &:hover,
  &.hovered {
    background-color: var(--button-bg-hover-primary);
  }
  &:focus-visible {
    @include focus-outline;
  }
  &.bg-primary {
    background-color: var(--button-bg-primary);
  }
  &:hover.bg-primary{
    background-color: var(--button-bg-hover-primary);
  }
  &.bg-secondary {
    background-color: var(--button-bg-secondary);
  }
  &:hover.bg-secondary{
    background-color: var(--button-bg-hover-secondary);
  }
  &.bg-tertiary {
    background-color: var(--button-bg-tertiary);
  }
  &:hover.bg-tertiary{
    background-color: var(--button-bg-hover-tertiary);
  }
  &.bg-quaternary {
    background-color: var(--button-bg-quaternary);
  }
  &:hover.bg-quaternary{
    background-color: var(--button-bg-hover-quaternary);
  }
  &.bg-fifth {
    background-color: var(--button-bg-fifth);
  }
  &:hover.bg-fifth{
    background-color: var(--button-bg-hover-fifth);
  }
  &:disabled{
    cursor: not-allowed;
  }
}
