@use "../root.scss" as *;

#course-lesson-content-nav {
  height: calc(100dvh - 105px);
  width: 300px;
  background-color: var(--bg-layer-2);
  overflow-y: auto;
  margin: 4px 0;
  @include shadow-box;
  & li.nav-h1,
  li.nav-h2,
  li.nav-h3,
  li.nav-h4 {
    cursor: pointer;
    list-style: none;
  }
  & li.nav-h1:hover,
  li.nav-h2:hover,
  li.nav-h3:hover,
  li.nav-h4:hover {
    background-color: var(--button-bg-hover-primary);
    outline: 1px solid var(--accent-color);
  }
  & li.nav-h1:focus,
  li.nav-h2:focus,
  li.nav-h3:focus,
  li.nav-h4:focus {
    @include outline("focus");
  }
  & li.nav-h1:focus-visible,
  li.nav-h2:focus-visible,
  li.nav-h3:focus-visible,
  li.nav-h4:focus-visible {
    @include outline("focus");
  }
  & li.nav-h1 {
    font-size: 1.1rem;
    padding: 15px 0 5px 5px;
  }
  & li.nav-h2 {
    font-size: 1rem;
    padding: 0 0 5px 15px;
  }
  & li.nav-h3 {
    font-size: 0.9rem;
    padding: 0 0 5px 30px;
  }
  & li.nav-h4{
    font-size: 0.8rem;
    padding: 0 0 5px 45px;
  }
}
