@use "../root" as *;
#dashboard {
  width: 100%;
}

#dashboard-content {
  background-color: var(--bg-layer-1);
  margin-top: 20px;
  padding: 20px;
}

#dashboard nav {
  & {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
  }
  & button {
    flex-grow: 1;
    flex-basis: calc(20% - 10px);
    text-align: center;
    transition: 400ms background-color, 200ms transform ease-in-out, 0 outline;
  }
  & button:focus,
  & button:hover {
    background-color: var(--bg-layer-3);
    transform: scale(1.04);
    border-radius: 0;
    transition: transform 0.2s;
    z-index: 1;
    transition: 400ms background-color, 200ms transform ease-in-out, 0 outline;
  }
& button:hover *{
    text-transform: none;
    transform: scale(2);
}

  @include respond-to(xl) {
    button {
      flex-basis: calc(25% - 10px);
    }
  }

  @include respond-to(lg) {
    button {
      flex-basis: calc(33.33% - 10px);
    }
  }
  @include respond-to(sm) {
    button {
      flex-basis: calc(50% - 10px);
    }
  }
}
