@use "../root" as *;

#statistics-section {
  & {
    display: grid;
    grid-template-columns: 360px 1fr 360px;
    grid-template-rows: auto auto auto;
    gap: 8px;
  }
  & > section {
    background-color: var(--bg-layer-3);
    padding: 15px;
    border-radius: 5px;
    overflow: auto;
  }

  & #login-statistics-section {
    grid-column: 1;
    grid-row: 1;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    
    .chart-header-row {
      flex-shrink: 0;
    }
    
    canvas {
      flex: 1;
      min-height: 0;
    }
  }

  & #tasks-statistics-section {
    grid-column: 1;
    grid-row: 2;
    max-height: 400px;
  }

  & #roadmap-statistics-section {
    grid-column: 2;
    grid-row: 1 / span 2;
    height: 100%;
    min-height: 600px;
  }

  & #quiz-statistics-section {
    grid-column: 3;
    grid-row: 1 / span 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    canvas {
      flex: 1;
      min-height: 0;
    }
  }

  & #courses-statistics-section {
    grid-column: 1 / span 3;
    grid-row: 3;
  }
  @include respond-to(xxl) {
    & {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }
    & #login-statistics-section {
      grid-column: 1;
      grid-row: 1;
      max-height: 500px;
    }

    & #tasks-statistics-section {
      grid-column: 2;
      grid-row: 1;
    }

    & #roadmap-statistics-section {
      grid-column: 1;
      grid-row: 2;
    }

    & #quiz-statistics-section {
      grid-column: 2;
      grid-row: 2;
      height: 550px;
    }

    & #courses-statistics-section {
      grid-column: 1 / span 2;
      grid-row: 3;
    }
  }
  @include respond-to(lg) {
    & {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
    & #login-statistics-section {
      grid-column: 1;
      grid-row: 1;
      max-height: 450px;
    }

    & #tasks-statistics-section {
      grid-column: 1;
      grid-row: 2;
    }

    & #roadmap-statistics-section {
      grid-column: 1;
      grid-row: 3;
    }

    & #quiz-statistics-section {
      grid-column: 1;
      grid-row: 4;
    }

    & #courses-statistics-section {
      grid-column: 1;
      grid-row: 5;
    }
  }
}

.no-data-placeholder{
  text-align: center;
  padding: 20px
}