@use "../root" as *;

#tasks-page {
  background-color: var(--bg-layer-1);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  & > header {
    justify-content: center;
    margin-bottom: 20px;
  }

  & #nav-subject-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  & #nav-subject-section button {
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--button-bg-secondary);
    color: var(--text-color);
    border: 1px solid var(--bg-layer-4);
    transform: none;
  }

  & #nav-subject-section button:hover,
  & #nav-subject-section button.active {
    background-color: var(--button-bg-primary);
  }

  & #nav-subject-section button.active:hover {
    background-color: var(--button-bg-hover-primary);
  }

  & #tasks-hub-page {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  & #list-tasks-section {
  max-height: 850px;
  max-width: 600px;
  width: 100%;
  background-color: var(--bg-layer-2);
  padding: 15px;
  border-radius: 5px;
  overflow-y: auto;
}



@include respond-to(xl) {
    & {
      padding: 20px 0;
    }

    #tasks-hub-page {
      flex-direction: column;
      align-items: center;
    }

    #list-tasks-section {
      width: 100%;
    }
  }

    @include respond-to(sm) {
    #tasks-hub-page {
      flex-direction: column;
      align-items: center;
    }
  }

& #list-tasks-section ul small {
  color: var(--link-visited-color);
}

& #list-tasks-section ul {
  list-style-type: none;
  padding-left: 5px;
}

& #list-tasks-section ul li {
  margin-bottom: 8px;
  color: var(--text-color);
  border-bottom: 1px solid var(--bg-layer-4);
}

& #list-tasks-section ul li:hover {
  color: var(--link-hover-color);
  cursor: pointer;
}

& #task-detail-section {
  flex-grow: 1;
  max-width: 750px;
  margin-left: 20px;
}

& #task-preview-section {
  min-height: 770px;
  height: 100%;
  width: 100%;
  background-color: var(--bg-layer-2);
  padding: 15px;
  border-radius: 5px;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  contain: layout paint size;
}

& #task-preview-section :is(h1, h2, h3, h4, h5, h6):first-child {
    color: var(--task-first-heading-color);
    background-color: var(--bg-layer-4);
    margin: 0 0 10px;
    padding: 5px 30px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    text-align: center;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5), 1px -1px 0px rgba(0, 0, 0, 0.5), -1px 1px 0px rgba(0, 0, 0, 0.5), 1px 1px 0px rgba(0, 0, 0, 0.5);
    font-family: var(--font-family-arial);
}

}
