@use "../root" as *;

#tasks-status-page {
  background-color: var(--bg-layer-2);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
}

#tasks-status-content-area {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}

#tasks-status-content-area ul {
  list-style-type: none;
  padding-left: 0;
}

#tasks-status-content-area ul li {
  margin-bottom: 8px;
  color: var(--text-color);
  border-bottom: 1px solid var(--bg-layer-4);
}

#tasks-status-content-area ul li:hover {
  color: var(--link-hover-color);
  cursor: pointer;
}

#tasks-status-content-area .status-section {
  flex-grow: 1;
  background-color: var(--bg-layer-3);
  padding: 15px;
  border-radius: 5px;
  max-height: 80vh;
  overflow-y: auto;
}

#tasks-list-section tbody {
  overflow-y: auto;
  height: 250px;
  width: 100%;
  display: table-caption;
}

#tasks-list-section tbody tr {
  cursor: pointer;
  width: 100%;
  display: inline-table;
}

#tasks-list-section tbody tr > td {
  background-color: var(--bg-layer-2);
  padding: 10px;
  border: 1px solid var(--bg-layer-4);
}

#tasks-list-section tbody tr:hover > td {
  background-color: var(--bg-layer-3);
}

#tasks-list-section tbody tr > td:first-child {
  width: 60%;
}

#tasks-list-section tbody tr > td:last-child {
  width: 40%;
  text-align: center;
}
