@use "../root" as *;

#tasks-page {
  background-color: var(--bg-layer-1);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  & > header {
    justify-content: center;
    margin-bottom: 20px;
  }

  & #nav-subject-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  & #nav-subject-section button {
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--button-bg-secondary);
    color: var(--text-color);
    border: 1px solid var(--bg-layer-4);
    transform: none;
  }

  & #nav-subject-section button:hover,
  & #nav-subject-section button.active {
    background-color: var(--button-bg-primary);
  }

  & #nav-subject-section button.active:hover {
    background-color: var(--button-bg-hover-primary);
  }

  & #tasks-hub-page {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}

@media (max-width: 960px) {
  #tasks-page {
    padding: 20px 0;
  }

  #tasks-page #tasks-hub-page {
    flex-direction: column;
    align-items: center;
  }

  #tasks-page #list-tasks-section {
    width: 100%;
  }
}

#tasks-page #list-tasks-section {
  max-height: 850px;
  width: 600px;
  background-color: var(--bg-layer-2);
  padding: 15px;
  border-radius: 5px;
  overflow-y: auto;
}

#tasks-page #list-tasks-section ul small {
  color: var(--link-visited-color);
}

#tasks-page #list-tasks-section ul {
  list-style-type: none;
  padding-left: 5px;
}

#tasks-page #list-tasks-section ul li {
  margin-bottom: 8px;
  color: var(--text-color);
  border-bottom: 1px solid var(--bg-layer-4);
}

#tasks-page #list-tasks-section ul li:hover {
  color: var(--link-hover-color);
  cursor: pointer;
}

#tasks-page #task-detail-section {
  flex-grow: 1;
  max-width: 750px;
  margin-left: 20px;
}

#tasks-page #task-preview-section {
  min-height: 770px;
  height: 100%;
  width: 100%;
  background-color: var(--bg-layer-2);
  padding: 15px;
  border-radius: 5px;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  contain: layout paint size;
}

#tasks-page #task-preview-section :is(h1, h2, h3, h4, h5, h6):first-child {
  color: var(--hint-info-border-color);
  background-color: var(--bg-layer-4);
  margin: 0 0 10px;
  padding: 5px 30px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  text-align: center;
}

#tasks-status-page {
  background-color: var(--bg-layer-2);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
}

#tasks-status-content-area {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}

#tasks-status-content-area ul {
  list-style-type: none;
  padding-left: 0;
}

#tasks-status-content-area ul li {
  margin-bottom: 8px;
  color: var(--text-color);
  border-bottom: 1px solid var(--bg-layer-4);
}

#tasks-status-content-area ul li:hover {
  color: var(--link-hover-color);
  cursor: pointer;
}

#tasks-status-content-area .status-section {
  flex-grow: 1;
  background-color: var(--bg-layer-3);
  padding: 15px;
  border-radius: 5px;
  max-height: 80vh;
  overflow-y: auto;
}

#tasks-list-section tbody {
  overflow-y: auto;
  height: 250px;
  width: 100%;
  display: table-caption;
}

#tasks-list-section tbody tr {
  cursor: pointer;
  width: 100%;
  display: inline-table;
}

#tasks-list-section tbody tr > td {
  background-color: var(--bg-layer-2);
  padding: 10px;
  border: 1px solid var(--bg-layer-4);
}

#tasks-list-section tbody tr:hover > td {
  background-color: var(--bg-layer-3);
}

#tasks-list-section tbody tr > td:first-child {
  width: 60%;
}

#tasks-list-section tbody tr > td:last-child {
  width: 40%;
  text-align: center;
}
