@use "../root" as *;

#tasks-status-page {
  background-color: var(--bg-layer-2);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
}

#tasks-status-content-area {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}

#tasks-status-content-area ul {
  list-style-type: none;
  padding-left: 0;
& li {
  margin-bottom: 8px;
  color: var(--text-color);
  border-bottom: 2px solid var(--bg-layer-4);
}
& li:hover {
  color: var(--link-hover-color);
  cursor: pointer;
}
}

#tasks-status-nav-filter-section form {
 width: 100%;
}

#tasks-status-content-area .status-section {
  & {
  flex-grow: 1;
  background-color: var(--bg-layer-3);
  padding: 15px;
  border-radius: 5px;
  max-height: 80vh;
  overflow-y: auto;
}
& h3{
  color: var(--hint-success-border-color);
  font-family: var(--font-family-verdana);
  border-bottom: 2px solid var(--background-color);
  padding: 10px;
  margin: -15px -15px 10px;
  background-color: var(--bg-layer-4);
}
}

