@use "../root" as *;

#users-page {
  & {
    background-color: var(--bg-layer-2);
    margin: -15px;
    padding: 10px;
  }
  & h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}
#users-content-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  & .add-user-form-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
    align-items: flex-start;
  }
}

@include respond-to(md) {
  #users-content-container > section {
    flex-direction: column;
    align-items: center;
  }
}
